* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

a,
i,
span,
p,
li,
b,
strong,
label,
input,
textarea,
button,
label,
select,
option {
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color: inherit;
    line-height: inherit;
}

.body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



button {
    border: none;
    background: none;
    position: relative;
    cursor: pointer;
}

button span {
    text-transform: uppercase;
    color: rgb(51,51,51);
    font-size: 1.3em;
    font-weight: 900;
    letter-spacing: 0.5px;
    display: block;
    transition-delay: 0.75s;
}

button span:before {
    content: "";
    height: 4px;
    background: rgb(51,51,51);
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 0;
    right: 0;
    transition: all 0.5s ease;
}

button:before, button:after {
    content: "";
    position: absolute;
    background: rgb(51,51,51);
    height: 4px;
    left: 100%;
    transform-origin: right center;
    transition: all 0.25s ease-out;
    margin-left: 0;
    width: 0;
    border-radius: 2px;
}
button:before {
    top: calc(50% - 1px);
}
button:after {
    bottom: calc(50% - 1px);
}

button:hover span:before {
    left: calc(100% + 10px);
    right: -50px;
    border-radius: 2px;
    transition: left 0.5s ease, right 0.3s ease-in 0.2s;
}

button:hover:before {
    transform: rotate(45deg);
}
button:hover:after {
    transform: rotate(-45deg);
}
button:hover:before, button:hover:after {
    margin-left: 34px;
    width: 16px;
    transition-delay: 0.25s;
}